src/UI/Headquarters/WB.UI.Headquarters/Service References/PublicService/PublicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WB.Core.BoundedContexts.Designer.ValueObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WB.Core.BoundedContexts.Designer.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuestionnaireVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Patch" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionnaireVersion" nillable="true" type="tns:QuestionnaireVersion" />
</xs:schema>