RavenQuestionnaire.Web/Web.Supervisor/Service References/DesignerPublicService/PublicService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/designer/PublicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost/designer/PublicService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="https://localhost/designer/PublicService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WB.UI.Designer.WebServices.Questionnaire" />
  <xs:element name="DownloadQuestionnaireRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="QuestionnaireId" type="q1:guid" />
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
  <xs:element name="DownloadQuestionnaireSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="request" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadQuestionnaireSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadQuestionnaireSourceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dummy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DummyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionnaireListRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Filter" nillable="true" type="xs:string" />
  <xs:element name="PageIndex" type="xs:int" />
  <xs:element name="PageSize" type="xs:int" />
  <xs:element name="SortOrder" nillable="true" type="xs:string" />
  <xs:element name="QuestionnaireListView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WB.UI.Designer.WebServices.Questionnaire" minOccurs="0" name="Items" nillable="true" type="q4:ArrayOfQuestionnaireListViewItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order" nillable="true" type="xs:string" />
  <xs:element name="Page" type="xs:int" />
  <xs:element name="TotalCount" type="xs:int" />
</xs:schema>