RavenQuestionnaire.Web/Web.Supervisor/Service References/DesignerPublicService/PublicService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WB.UI.Designer.WebServices.Questionnaire" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WB.UI.Designer.WebServices.Questionnaire" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/designer/PublicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfQuestionnaireListViewItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionnaireListViewItem" nillable="true" type="tns:QuestionnaireListViewItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionnaireListViewItem" nillable="true" type="tns:ArrayOfQuestionnaireListViewItem" />
  <xs:complexType name="QuestionnaireListViewItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionnaireListViewItem" nillable="true" type="tns:QuestionnaireListViewItem" />
</xs:schema>